.main__button{
    box-sizing: border-box;
    padding: 0;
    width: 120px;
    height: 32px;
    border-radius: 2px;
    border: 1px #D9D9D9 solid;
    text-align: center;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 22px;
    font-size: 14px;
    background: transparent;
    color: #000000D9;
}
