.main__button_type_luck{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000D9;
}


.main__button_type_luck:visited{
    color: #000000D9;
}

.main__button_type_luck:hover{
    cursor: pointer;
    background: #1890FF;
    border-color: #1890FF;
    color: #FFFFFF;
    opacity: 1;
}