body{
  background-color: #EFEFEF;
}

.button:hover{
  cursor: pointer;
}

.button_inactive{
  opacity: 0.45;
  pointer-events: none
}

.button_pagination_active{
  border-color: #1890FF;
  color: #1890FF
}

.button_none{
  display: none
}

@import url(./vendor/normalize.css);

@import url(./vendor/font.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__title/header__title.css);

@import url(./blocks/main/main.css);
@import url(./blocks/main/__button/main__button.css);
@import url(./blocks/main/__button/_type/main__button_type_drop-down-menu.css);
@import url(./blocks/main/__button/_type/main__button_type_radio.css);
@import url(./blocks/main/__button/_type/main__button_type_resert.css);
@import url(./blocks/main/__button/_type/main__button_type_luck.css);
@import url(./blocks/main/__button/_type/main__button_type_first-page.css);
@import url(./blocks/main/__button/_type/main__button_type_last-page.css);
@import url(./blocks/main/__button/_type/main__button_type_next.css);
@import url(./blocks/main/__button/_type/main__button_type_prev.css);
@import url(./blocks/main/__button/_type/main__button_type_visible-number-of-page.css);
@import url(./blocks/main/__button/_type/main__button_type_pagination.css);
@import url(./blocks/main/__button/_type/main__button_type_drop-down-menu-open.css);
@import url(./blocks/main/__dots/main__dots.css);
@import url(./blocks/main/__description/main__description.css);
@import url(./blocks/main/__header/main__header.css);
@import url(./blocks/main/__logo/main__logo.css);
@import url(./blocks/main/__title-h4/main__title-h4.css);
@import url(./blocks/main/__title-h5/main__title-h5.css);
@import url(./blocks/main/__recipes/main__recipes.css);
@import url(./blocks/main/__settings/main__settings.css);
@import url(./blocks/main/__wrapper/main__wrapper.css);
@import url(./blocks/main/__drop-down-menu/main__drop-down-menu.css);
@import url(./blocks/main/__drop-down-menu/_open/main__drop-down-menu_open.css);
@import url(./blocks/main/__drop-down-item/main__drop-down-item.css);
@import url(./blocks/main/__wrapper/_type/main__wrapper_type_filter.css);
@import url(./blocks/main/__wrapper/_type/main__wrapper_type_setting.css);
@import url(./blocks/main/__wrapper/_type/main__wrapper_type_text.css);
@import url(./blocks/main/__wrapper/_type/main__wrapper_type_complexity.css);
@import url(./blocks/main/__wrapper/_type/main__wrapper_type_description.css);
@import url(./blocks/main/__number-recipes/main__number-recipes.css);
@import url(./blocks/main/__title-h2/main__title-h2.css);
@import url(./blocks/main/__pagination/main__pagination.css);

@import url(./blocks/cards/cards.css);

@import url(./blocks/card/card.css);
@import url(./blocks/card/__img/card__img.css);
@import url(./blocks/card/__info/card__info.css);
@import url(./blocks/card/__title-h3/card__title-h3.css);
@import url(./blocks/card/__description/card__description.css);
@import url(./blocks/card/__wrapper/card__wrapper.css);
@import url(./blocks/card/__text/card__text.css);
@import url(./blocks/card/__region/card__region.css);
@import url(./blocks/card/__eating/card__eating.css);
@import url(./blocks/card/__hard/card__hard.css);
@import url(./blocks/card/__time-to-cook/card__time-to-cook.css);
@import url(./blocks/card/__star-img/card__star-img.css);
@import url(./blocks/card/__link/card__link.css);


@import url(./blocks/dish/dish.css);
@import url(./blocks/dish/__global-wrapper/dish__global-wrapper.css);
@import url(./blocks/dish/__kitchen/dish__kitchen.css);
@import url(./blocks/dish/__text/dish__text.css);
@import url(./blocks/dish/__text/_type/dish__text_type_bold.css);
@import url(./blocks/dish/__text/_type/dish__text_type_light.css);
@import url(./blocks/dish/__text/_type/dish__text_type_short.css);
@import url(./blocks/dish/__text/_type/dish__text_type_alternate-padding.css);
@import url(./blocks/dish/__title-h2/dish__title-h2.css);
@import url(./blocks/dish/__wrapper/dish__wrapper.css);
@import url(./blocks/dish/__wrapper/_type/dish__wrapper_type_img.css);
@import url(./blocks/dish/__info/_type/dish__info_type_steps.css);
@import url(./blocks/dish/__info/dish__info.css);
@import url(./blocks/dish/__img/dish__img.css);
@import url(./blocks/dish/__steps-list/dish__steps-list.css);
@import url(./blocks/dish/__step/dish__step.css);
@import url(./blocks/dish/__step/_last/dish__step_last.css);
@import url(./blocks/dish/__step/_first/dish__step_first.css);
@import url(./blocks/dish/__header/dish__header.css);
@import url(./blocks/dish/__title-h1/dish__title-h1.css);
@import url(./blocks/dish/__link/dish__link.css);
@import url(./blocks/dish/__pagination/dish__pagination.css);
@import url(./blocks/dish/__button/dish__button.css);
@import url(./blocks/dish/__button/_type/dish__button_type_next.css);
@import url(./blocks/dish/__button/_type/dish__button_type_pagination.css);
@import url(./blocks/dish/__button/_type/dish__button_type_prev.css);